<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotifyWrappedInstagramGroup5"
        tools:targetApi="31">
        <activity
            android:name=".SpotifyWrappedLastPageFestival"/>
        <activity android:name=
            ".SpotifyWrappedGenrePage"/>
        <activity
            android:name=".SpotifyWrappedInitialPage"/>
        <activity
            android:name=".CommentPage"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ProfilePageSearchPopOut"
            />
        <activity
            android:name=".SpotifyWrappedPopUp"
            />
        <activity
            android:name=".SignoutPage"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity android:name=".SearchPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".MyWraps" />
        <activity android:name=".PostPage" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".Logout"
            android:exported="false" />
        <activity
            android:name=".SpotifyLogin"
            android:exported="false">
            <intent-filter>
                <data
                    android:host="auth"
                    android:scheme="spotifywrappedinstagramgroup5" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SpotifyWrappedInstagramGroup5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="auth"
                    android:scheme="spotifywrappedinstagramgroup5" />
            </intent-filter>
        </activity>
    </application>

</manifest>